<h1>The ruby-bbcode Demo!</h1>

<p>Using bbcode in your ruby project is easy and powerful.</p>


Example Code:
<div class="example well">
  <% s = render("tags").html_safe %>
  <% s.lines.each do |line| %>
    <%= "<p>#{line}</p>".html_safe %>
  <% end %>
</div>

Output:
<div class="output well">
  <%= s.bbcode_to_html.html_safe %>
</div>

